<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvqUZCx8XOkYAkt5R4OQJ-iOd_z63RhaU</string>
	<key>GCM_SENDER_ID</key>
	<string>1043875124767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rizzle.app</string>
	<key>PROJECT_ID</key>
	<string>test-daz7tz</string>
	<key>STORAGE_BUCKET</key>
	<string>test-daz7tz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043875124767:ios:f268199f62a8983538a72a</string>
</dict>
</plist>